body{
    background-color: rgb(196, 50, 50);
}
.desc{
    font-size: smaller;
}
.rectangle{
    text-align: center;
    background-color: lightcyan;
    border: 2px solid blue;
    width: 500px;
    height: 400px;
    margin: 5% auto 0 auto;
    padding-left: 10px;
}
.button{
    height:20px; 
    width:400px; 
    margin: -20px -50px; 
    top:50%; 
    left:42%;
}

h1 {
    background-color:  #aa2f2f;
    color: antiquewhite;
 font-weight: lighter;
 font-family: Arial;
 font-style: italic;
 font-variant: small-caps;
 text-align: center;
 text-align: center;
 border: 2px solid red;
 }

 b{
     text-decoration: underline;
 }
 p{
     text-align: justify;
     line-height: 30px;
     font-size:larger;
     width: 450px;
 }

input[type="button"]{
     background-color: #aa2f2f;
     color: white;
     padding: 14px 20px;
     margin: auto 0 auto;
     border: none;
     cursor: pointer;
     width: 40%;
     align-items: center;
    
     
 }
 input[name=accueil]{
    background-image: url("../img/_accueil.png") ;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    margin-bottom: 10px;
    height: 32px;
    padding-left: 32px;
    vertical-align: middle;
}

