
body{
   
    background-color: rgb(196, 50, 50);
}

.fond{
    background-color: lightgoldenrodyellow;
    border: 2px solid yellow;
    width: 400px;
    height: 400px;
    margin: 5% auto 0 auto;
    padding-left: 10px;
}
h1 {
    background-color:  #aa2f2f;
    color: antiquewhite;
 font-weight: lighter;
 font-family: Arial;
 font-style: italic;
 font-variant: small-caps;
 text-align: center;
 
 text-align: center;
 border: 2px solid red;
 }

 b{
     text-decoration: underline;
 }
 p{
     text-align: justify;
     line-height: 30px;
     font-size:larger;
 }

input[type="button"]{
     background-color: #aa2f2f;
     color: white;
     padding: 14px 20px;
     margin: 120px 50px;
     border: none;
     cursor: pointer;
     width: 70%;
    alignment: center;
 }
