body {
    background: rgb(196, 50, 50);
}
form {
padding : 10px;
}

h1{
    text-align: center;
}

div[class=content]{
    background: #ffff;
    border-radius: 200px;
    text-align: center;
}

input {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button{
    position: relative;
}
input:hover {
    background-color: #2a2828;
}

input:active {
    background-color: #2a2828;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
