
body{
    background: rgb(196, 50, 50);
}


h1 {
    background-color:  #aa2f2f;
    color: antiquewhite;
 font-weight: lighter;
 font-family: Arial;
 font-style: italic;
 font-variant: small-caps;
 text-align: center;
 text-align: center;
 border: 2px solid red;
 }


 .fond{
     text-align: center;
     margin: 0 auto 0 auto;
     background-color: lightyellow;
     font-size: larger;
     width: 400px;
 }

 input[type="button"]{
    background-color: #aa2f2f;
    color: white;
    padding: 14px 20px;
    margin: auto 0 auto;
    border: none;
    cursor: pointer;
    width: 20%;
    align-items: center;
}
