body{
    background-color: rgb(196, 50, 50);
}
h1 {
    background-color:  #aa2f2f;
    color: antiquewhite;
 font-weight: lighter;
 font-family: Arial;
 font-style: italic;
 font-variant: small-caps;
 text-align: center;
 text-align: center;
 border: 2px solid red;
 }


.fond{
    background-color: lightsalmon;
    border: 2px solid yellow;
    width: 380px;
    height: 200px;
    margin: 5% auto 0 auto;
    padding-left: 10px;
}

b{
    background-color: lightcoral;
}